In [1]:

import re
import pandas as pd
import seaborn as sns

In [2]:
def getScore(score) :
    if score <= 2:
        return 1
    else:
        return 0
    
def getFormatedData(path):
    rawdata = pd.read_csv(path)
    rawdata.drop(columns=["review_id", "order_id", "review_creation_date", "review_answer_timestamp"], inplace=True)
    rawdata = rawdata.rename(columns={
        "review_comment_title" : "title", 
        "review_comment_message" : "review", 
        "review_score" : "score"
        })
    rawdata["score"] = rawdata["score"].apply(getScore)
    rawdata["review"].fillna(rawdata['title'])
    rawdata.drop(columns=["title"], inplace=True)
    rawdata.dropna(subset=["review"], inplace=True)

    rawdata["review"].apply(lambda x: re.sub(r'<.*?>', '', x))
    return rawdata

In [3]:
data = getFormatedData("data/olist_order_reviews_dataset.csv")

In [4]:
data.head()

    score                                             review
3       0              Recebi bem antes do prazo estipulado.
4       0  Parabéns lojas lannister adorei comprar pela I...
9       0  aparelho eficiente. no site a marca do aparelh...
12      0    Mas um pouco ,travando...pelo valor ta Boa.\r\n
15      0  Vendedor confiável, produto ok e entrega antes...

In [5]:
data.tail()

       score                                             review
99205      0  para este produto recebi de acordo com a compr...
99208      0  Entregou dentro do prazo. O produto chegou em ...
99215      0  O produto não foi enviado com NF, não existe v...
99221      0  Excelente mochila, entrega super rápida. Super...
99223      1  meu produto chegou e ja tenho que devolver, po...

In [6]:
data.to_csv("output/formated_reviews.csv", index=False)